importing modules

In [1]:
import pandas as pd

In [9]:
df_aed = pd.read_parquet('aed_locations.parquet.gzip')
df_ambloc = pd.read_parquet('ambulance_locations.parquet.gzip')
df_cad9= pd.read_parquet('cad9.parquet.gzip')
df_intbxl = pd.read_parquet('interventions_bxl.parquet.gzip')
df_intbxl2 = pd.read_parquet('interventions_bxl2.parquet.gzip')
df_int1 = pd.read_parquet('interventions1.parquet.gzip')
df_int2 = pd.read_parquet('interventions2.parquet.gzip')
df_int3 = pd.read_parquet('interventions3.parquet.gzip')
df_mug = pd.read_parquet('mug_locations.parquet.gzip')
df_pit = pd.read_parquet('pit_locations.parquet.gzip')

In [22]:
df_aed['municipality'].value_counts()

Bruxelles         1149
Brussel            432
Antwerpen          372
Liège              258
Gent               206
                  ...
Moerbrugge           1
Waardamme            1
Thy-le-Bauduin       1
Rieme(Evergem)       1
METTET               1
Name: municipality, Length: 2472, dtype: int64

In [24]:
df_aed.head()

,id,type,address,number,postal_code,municipality,province,location,public,available,hours
0,13.0,None,Blvd. Fr. Roosevelt,24.0,7060.0,SOIGNIES,Hainaut,None,Y,None,None
1,70.0,None,Ch. De Wégimont,76.0,4630.0,Ayeneux,Liège,None,None,None,None
2,71.0,None,Place Saint - Lambert,NaN,4020.0,Liège,Liège,None,None,None,None
3,72.0,None,Rue du Doyard,NaN,4990.0,Lierneux,Liège,None,None,None,None
4,73.0,None,Fond Saint Servais,NaN,4000.0,Liège,Liège,None,None,None,None

In [34]:
df_aed['province'].value_counts()

Antwerpen            2214
Bruxelles-Brussel    2042
Hainaut              1924
Liège                1748
Oost-Vlaanderen      1521
West-Vlaanderen      1312
Vlaams-Brabant       1230
Limburg               971
Namur                 882
Luxembourg            674
Brabant Wallon        672
Name: province, dtype: int64

In [35]:
df_ambloc.head()

,base,medical_resource,province,region,departure_location,departure_location_number,latitude,longitude,occasional_permanence
0,BA ANTW [Borgerhout] AMBUCE,ZW ANTWERPEN 7 (Team: AAANTW07A),Antwerpen,Vlaams Gewest,Gijselstraat 150 2140 BORGERHOUT,3811,51.215516,4.443788,N
1,BA ANTW [Hoboken] AMBUCE,ZW ANTWERPEN 9 (Team: AAANTW09A),Antwerpen,Vlaams Gewest,Antwerpsesteenweg 242 2660 HOBOKEN,3812,51.178831,4.361948,N
2,BA ANTW [Hof Ter Schelde] AC Antwerpen,ZW ANTWERPEN 3 (Team: AAANTW03A),Antwerpen,Vlaams Gewest,August Vermeylenlaan 6 2050 ANTWERPEN,10902,51.232810,4.377237,N
3,BA ANTW [Kaai 606] SIHWA,ZW ANTWERPEN HAVEN 1 (Team: AAAPOR01A)_x000D_Z...,Antwerpen,Vlaams Gewest,Antwerpsebaan 4 (Kaai 606) 2040 ANTWERPEN,12902,51.315516,4.321506,N
4,BA ANTW [Sint Elisabeth] AC Antwerpen,ZW ANTWERPEN 2 (Team: AAANTW02A),Antwerpen,Vlaams Gewest,Leopoldstraat 26 2000 ANTWERPEN,10901,51.213623,4.405718,N