In [2]:
import pandas as pd

In [6]:
df_aed = pd.read_parquet('aed_locations.parquet.gzip')
df_ambloc = pd.read_parquet('ambulance_locations.parquet.gzip')
df_cad9= pd.read_parquet('cad9.parquet.gzip')
#df_intbxl = pd.read_parquet('interventions_bxl.parquet.gzip')
df_intbxl2 = pd.read_parquet('interventions_bxl2.parquet.gzip')
#df_int1 = pd.read_parquet('interventions1.parquet.gzip')
#df_int2 = pd.read_parquet('interventions2.parquet.gzip')
#df_int3 = pd.read_parquet('interventions3.parquet.gzip')
df_mug = pd.read_parquet('mug_locations.parquet.gzip')
df_pit = pd.read_parquet('pit_locations.parquet.gzip')

In [15]:
df_aed.head()

,id,type,address,number,postal_code,municipality,province,location,public,available,hours
0,13.0,None,Blvd. Fr. Roosevelt,24.0,7060.0,SOIGNIES,Hainaut,None,Y,None,None
1,70.0,None,Ch. De Wégimont,76.0,4630.0,Ayeneux,Liège,None,None,None,None
2,71.0,None,Place Saint - Lambert,NaN,4020.0,Liège,Liège,None,None,None,None
3,72.0,None,Rue du Doyard,NaN,4990.0,Lierneux,Liège,None,None,None,None
4,73.0,None,Fond Saint Servais,NaN,4000.0,Liège,Liège,None,None,None,None

In [45]:
#create address as one string 
number = 1
address = str(df_aed['address'][number])+" "+str(df_aed['number'][number])+" ,"+str(df_aed['postal_code'][number])+" ,"+str(df_aed['municipality'][number])
address = address + ' , Belgium'
address

'Ch. De Wégimont 76.0 ,4630.0 ,Ayeneux , Belgium'

In [16]:
df_aed['available'].value_counts()

available
Non-Nee                                                                              2508
Oui-Ja                                                                               1723
Oui                                                                                     9
N                                                                                       5
Ja                                                                                      3
Tijdens de kantooruren                                                                  2
Dispo. tout le temps sauf du samedi midi au dimanche 21h                                1
tijdens werkuren                                                                        1
enkel tijdens kantooruren                                                               1
zie rooster                                                                             1
Heures de bureau                                                                        1
Heures de bureau                                                                        1
+/ 8x per jaar zal ik het toestel meenemen wanneer ik een EHBO post ga bemannen.        1
selon heures d ouverture d Euro-Délices                                                 1
enkel tijdens de kantooruren (8 - 19u)                                                  1
oui via interphone                                                                      1
du lundi au vendredi                                                                    1
Accessible par toute personne présente dans l inrfastructure.                           1
Dispo 24/7 - sauf samedi de 12h à dimanche 20h                                          1
Piscine en travaux pour l instant                                                       1
tijdens de werkuren                                                                     1
Tijdens kantooruren                                                                     1
Tijdens openingsuren van het museum                                                     1
De 5h30 à 21h30                                                                         1
Heure de bureau en semaine                                                              1
Pendant les heures de cours                                                             1
09.00 - 17.00                                                                           1
9.00 - 17.00                                                                            1
maandag, dinsdag, donderdag, vrijdag                                                    1
kantooruren                                                                             1
Pendant heures d ouverture du site                                                      1
tijdens de openingsuren                                                                 1
tijdens onze openingsuren, zie nr. 12                                                   1
tijdens de kantooruren                                                                  1
tijdens de kantooruren in de week                                                       1
Nee                                                                                     1
indien de site open is, volledig toegangkelijk                                          1
Horaire d ouverture de la buvette                                                       1
8:00 - 17:00                                                                            1
tijdens openinguren sportcentrum                                                        1
09u-12u en op aanvraag                                                                  1
16u-23u tijdens opening sporthal                                                        1
horaire d ouverture de la pharmacie                                                     1
de 5h00 à 25h00                                                                         1
5h00 à 25h00                                                                            1
Oui-Ja "Niet tijdens activiteiten van de wielervrienden"                                1
Name: count, dtype: int64

In [7]:
df_aed['province'].value_counts()

province
Antwerpen            2214
Bruxelles-Brussel    2042
Hainaut              1924
Liège                1748
Oost-Vlaanderen      1521
West-Vlaanderen      1312
Vlaams-Brabant       1230
Limburg               971
Namur                 882
Luxembourg            674
Brabant Wallon        672
Name: count, dtype: int64

In [8]:
df_ambloc.head()

,base,medical_resource,province,region,departure_location,departure_location_number,latitude,longitude,occasional_permanence
0,BA ANTW [Borgerhout] AMBUCE,ZW ANTWERPEN 7 (Team: AAANTW07A),Antwerpen,Vlaams Gewest,Gijselstraat 150 2140 BORGERHOUT,3811,51.215516,4.443788,N
1,BA ANTW [Hoboken] AMBUCE,ZW ANTWERPEN 9 (Team: AAANTW09A),Antwerpen,Vlaams Gewest,Antwerpsesteenweg 242 2660 HOBOKEN,3812,51.178831,4.361948,N
2,BA ANTW [Hof Ter Schelde] AC Antwerpen,ZW ANTWERPEN 3 (Team: AAANTW03A),Antwerpen,Vlaams Gewest,August Vermeylenlaan 6 2050 ANTWERPEN,10902,51.232810,4.377237,N
3,BA ANTW [Kaai 606] SIHWA,ZW ANTWERPEN HAVEN 1 (Team: AAAPOR01A)_x000D_Z...,Antwerpen,Vlaams Gewest,Antwerpsebaan 4 (Kaai 606) 2040 ANTWERPEN,12902,51.315516,4.321506,N
4,BA ANTW [Sint Elisabeth] AC Antwerpen,ZW ANTWERPEN 2 (Team: AAANTW02A),Antwerpen,Vlaams Gewest,Leopoldstraat 26 2000 ANTWERPEN,10901,51.213623,4.405718,N

In [19]:
df_intbxl2.head()

,Mission ID,T0,Cityname Intervention,Longitude intervention,Latitude intervention,description_nl,ic_description_nl,EventType and EventLevel,creationtime,Number of transported persons,...,Housenumber destination hospital,Abandon reason NL,Abandon reason FR,T1,T2,T3,T4,T5,T6,T7
0,20221520003,01JUN22:00:02:45,1030 schaerbeek (schaerbeek),4.406731e+10,5.085516e+10,Nieuwe melding,Medisch,P033 N05 - TRAUMA,01JUN22:00:04:06,NaN,...,None,Weigering vervoer,Refus,01JUN22:00:04:22,01JUN22:00:15:56,01JUN22:00:15:59,None,None,01JUN22:00:38:06,01JUN22:00:43:54
1,20221520005,01JUN22:00:04:58,1030 schaerbeek (schaerbeek),4.368798e+10,5.086318e+10,Nieuwe melding,Medisch,P032 N05 - ALLERGISCHE REACTIE,01JUN22:00:07:54,1.0,...,None,None,None,01JUN22:00:08:00,01JUN22:00:10:03,01JUN22:00:19:43,01JUN22:00:19:49,01JUN22:00:24:25,01JUN22:01:59:18,01JUN22:01:59:19
2,20221520006,01JUN22:00:07:43,1081 koekelberg (koekelberg),4.332312e+10,5.085755e+10,Nieuwe melding,Medisch,P010 N01 - ADEMHALINGSMOEILIJKHEDEN,01JUN22:00:12:05,1.0,...,None,None,None,None,None,None,None,None,None,None
3,20221520006,01JUN22:00:07:43,1081 koekelberg (koekelberg),4.332312e+10,5.085755e+10,Nieuwe melding,Medisch,P010 N01 - ADEMHALINGSMOEILIJKHEDEN,01JUN22:00:11:50,NaN,...,None,None,None,None,None,None,None,None,None,None
4,20221520007,01JUN22:00:09:18,1030 schaerbeek (schaerbeek),4.383695e+10,5.085225e+10,Nieuwe melding,Medisch,P039 N05 - CARDIAAL PROBLEEM (ANDERE DAN PIJN ...,01JUN22:00:11:37,NaN,...,None,Weigering vervoer,Refus,01JUN22:00:12:05,01JUN22:00:13:03,01JUN22:00:20:29,None,None,01JUN22:00:34:11,01JUN22:00:55:36

In [26]:
df_intbxl2.loc[df_intbxl2['description_nl'] =='Dubbele melding']

,Mission ID,T0,Cityname Intervention,Longitude intervention,Latitude intervention,description_nl,ic_description_nl,EventType and EventLevel,creationtime,Number of transported persons,...,Housenumber destination hospital,Abandon reason NL,Abandon reason FR,T1,T2,T3,T4,T5,T6,T7
27,20221520030,01JUN22:02:35:53,1030 schaarbeek (schaarbeek),4.363131e+10,5.085901e+10,Dubbele melding,Medisch,P020 N05 - INTOXICATIE ALCOHOL,01JUN22:02:24:53,NaN,...,None,Weigering vervoer,Refus,01JUN22:02:25:02,01JUN22:02:27:27,01JUN22:02:39:00,None,None,01JUN22:02:39:01,01JUN22:03:04:43
57,20221520058,01JUN22:07:09:33,1190 forest (forest),4.309722e+10,5.080595e+10,Dubbele melding,Medisch,P005 N03 - WONDE DOOR WAPEN,01JUN22:07:09:49,1.0,...,None,None,None,None,None,None,None,None,None,None
58,20221520058,01JUN22:07:09:33,1190 forest (forest),4.309722e+10,5.080595e+10,Dubbele melding,Medisch,P005 N03 - WONDE DOOR WAPEN,01JUN22:07:09:49,NaN,...,None,None,None,None,None,None,None,None,None,None
122,20221520135,01JUN22:10:34:14,1000 bruxelles (bruxelles),4.377133e+10,5.084678e+10,Dubbele melding,Medisch,P000 N01 ARCA DEA,01JUN22:10:33:01,1.0,...,None,None,None,01JUN22:10:33:10,01JUN22:10:34:29,01JUN22:10:38:32,01JUN22:11:04:02,01JUN22:11:09:11,01JUN22:11:21:51,01JUN22:11:33:22
123,20221520135,01JUN22:10:34:14,1000 bruxelles (bruxelles),4.377133e+10,5.084678e+10,Dubbele melding,Medisch,P000 N01 ARCA DEA,01JUN22:10:33:01,NaN,...,None,None,None,01JUN22:10:33:11,01JUN22:10:33:36,01JUN22:10:41:57,01JUN22:11:04:16,01JUN22:11:08:46,01JUN22:11:21:51,01JUN22:11:45:04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38505,20222495101,06SEP22:10:04:15,1140 evere (evere),4.397553e+10,5.087139e+10,Dubbele melding,Medisch,P033 N05 - TRAUMA,06SEP22:10:08:37,NaN,...,None,None,None,None,None,None,None,None,None,None
38507,20222495101,06SEP22:10:04:15,1140 evere (evere),4.397553e+10,5.087139e+10,Dubbele melding,Medisch,P033 N05 - TRAUMA,06SEP22:09:50:35,1.0,...,None,None,None,06SEP22:09:50:54,06SEP22:09:52:41,06SEP22:09:56:18,06SEP22:10:56:35,06SEP22:10:58:48,06SEP22:11:23:51,06SEP22:11:27:14
38516,20222495111,06SEP22:10:14:52,1120 brussel (neder-over-heembeek),4.384104e+07,5.088983e+08,Dubbele melding,Medisch,None,None,NaN,...,None,None,None,None,None,None,None,None,None,None
38517,20222495111,06SEP22:10:14:52,1120 brussel (neder-over-heembeek),4.384104e+07,5.088983e+08,Dubbele melding,Medisch,None,None,NaN,...,None,None,None,None,None,None,None,None,None,None
38527,20222495123,06SEP22:10:45:41,1620 drogenbos (drogenbos),4.320186e+10,5.078355e+10,Dubbele melding,Medisch,P096 Buitendienststelling,06SEP22:10:46:32,1.0,...,None,None,None,None,None,None,None,None,None,None

In [27]:
df_intbxl2.loc[df_intbxl2['Mission ID']== 20221520030]

,Mission ID,T0,Cityname Intervention,Longitude intervention,Latitude intervention,description_nl,ic_description_nl,EventType and EventLevel,creationtime,Number of transported persons,...,Housenumber destination hospital,Abandon reason NL,Abandon reason FR,T1,T2,T3,T4,T5,T6,T7
26,20221520030,01JUN22:02:23:44,1030 schaerbeek (schaerbeek),4.366199e+09,5.085849e+10,Nieuwe melding,Medisch,P020 N05 - INTOXICATIE ALCOHOL,01JUN22:02:24:53,NaN,...,None,Weigering vervoer,Refus,01JUN22:02:25:02,01JUN22:02:27:27,01JUN22:02:39:00,None,None,01JUN22:02:39:01,01JUN22:03:04:43
27,20221520030,01JUN22:02:35:53,1030 schaarbeek (schaarbeek),4.363131e+10,5.085901e+10,Dubbele melding,Medisch,P020 N05 - INTOXICATIE ALCOHOL,01JUN22:02:24:53,NaN,...,None,Weigering vervoer,Refus,01JUN22:02:25:02,01JUN22:02:27:27,01JUN22:02:39:00,None,None,01JUN22:02:39:01,01JUN22:03:04:43

In [21]:
df_intbxl2['description_nl'].value_counts()

description_nl
Nieuwe melding     37394
Dubbele melding     1213
Oproep Politie         1
Algemene info          1
Name: count, dtype: int64

In [33]:
pip install geopy

Collecting geopy
  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Downloading geographiclib-2.0-py3-none-any.whl.metadata (1.4 kB)
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
   ---------------------------------------- 0.0/125.4 kB ? eta -:--:--
   ---------------------------------------- 0.0/125.4 kB ? eta -:--:--
   ---------------------------------------- 0.0/125.4 kB ? eta -:--:--
   --- ------------------------------------ 10.2/125.4 kB ? eta -:--:--
   --------- ----------------------------- 30.7/125.4 kB 325.1 kB/s eta 0:00:01
   ------------------- ------------------- 61.4/125.4 kB 409.6 kB/s eta 0:00:01
   -------------------------------------- 125.4/125.4 kB 612.8 kB/s eta 0:00:00
Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
   ---------------------------------------- 0.0/40.3 kB ? eta -:--:--
   ---------------------------------------- 40.3/40.3 kB 970.5 kB/s eta 0:00:00
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1
Note: you may need to restart the kernel to use updated packages.

In [46]:
from geopy.geocoders import Nominatim

def geocode_address(address):
    # Initialize the Nominatim geocoder
    geolocator = Nominatim(user_agent="geoapiExercises")
    
    # Geocode the address
    location = geolocator.geocode(address)
    
    # Return latitude and longitude
    if location:
        return location.latitude, location.longitude
    else:
        return None

# Example usage:
address = "Hoffeldstrasse 10, 40235 Dusseldorf, Germany"
latitude, longitude = geocode_address(address)
print("Latitude:", latitude)
print("Longitude:", longitude)

Latitude: 51.2310588
Longitude: 6.812805277620969